/*CSS untuk menu / navbar */

.navbar {
    padding: 0;
    border-bottom: 5px solid #F2C808;
}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.bg-biru {
    background-color: #15477A !important;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
    caret-color: #000;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link{
    background-color: #F2C808;
    color: #000;
}

.active {
    background-color: #F2C808;
    color: #15477A;
}

li.nav-item.active a {
    color: #15477A;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 15px 20px;
    display: inline-block;
}



/*CSS untuk Footer*/

footer {
    color: #fff;
    background-color: #15477A;
    padding: 70px 0;
}

footer .footer-col:first-of-type {
    padding-right: 30px;
}

footer .brand {
    display: flex;
    top: 15%;
}

footer .brand img {
    width: 70px;
    height: 70px;
    margin-right: 30px;
}

footer .brand h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
}

footer .tentang {
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}

footer .sosmed {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .sosmed li {
    display: inline-block;
    margin-right: 15px;
}

footer .sosmed li {
    color: #15477A;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    line-height: 50px;
}

footer .sosmed li a:hover {
    color: #c7c7c7;
}

.footer-col h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-col .alamat {
    font-size: 14px;
    line-height: 25px;
    padding: 10px 0;
}

.footer-col .kontak {
    list-style: none;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
}

.footer-col .kontak li {
    margin: 10px 0;
}


.footer-col .kontak i {
    margin-right: 10px;
}


.footer-col .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col .footer-nav li {
    margin: 10px 0;
}

.footer-col .footer-nav a {
    color: #fff;
    font-size: 15px;
    font-weight: 28px;
    transition: all 0.5s;
}

.footer-col .footer-nav a:hover {
    border-bottom: 1px dashed #fff;
}

.footer-copyright .container {
    border-top: 1px solid rgba(242, 242, 242, 0.25);
    padding: 10px 0;
}


.footer-copyright {
    margin-top: 60px;
    background-color: #15477A;
}

.footer-copyright h6 {
    font-size: 16px;
    color: #cecece;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-copyright h6 a {
    color: inherit;
}

.footer-copyright h6 a:hover {
    border-bottom: 1px dashed #cecece;
}
